<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false">
	<contextName>logging</contextName>
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} [%X]- %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name="com.example.elasticdemo.config" level="INFO" />
	<appender name="map"
		class="com.example.elasticdemo.config.TestAppender" />
	<root level="INFO">
		<appender-ref ref="map" />
	</root>
</configuration>